<%- include('partials/header.ejs'); -%>

    <div class="container-fluid bg-dark ">
        <header class="p-3 text-bg-dark">
            <div class="container fluid bg-dark">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
    
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <form method="GET" action="/" style="display: inline;">
                                <button type="submit" class="nav-link px-2 text-white">Home</button>
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="/docs" style="display: inline;">
                                <button type="submit" class="nav-link px-2 text-white">Documentation</button>
                            </form>
                        </li>
                        <li><a href="https://github.com/rominavc99/booknotes" class="nav-link px-2 text-white">GitHub</a>
                        </li>
                        <li>
                            <form method="GET" action="/indexAdmin" style="display: inline;">
                                <button type="submit" class="nav-link px-2 text-white">Owner?</button>
                            </form>
                        </li>
                    </ul>
    
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="GET" action="/search">
                        <input type="search" name="query" class="form-control form-control-dark text-bg-dark text-white"
                            placeholder="Search..." aria-label="Search" spellcheck="false" data-ms-editor="true">
                    </form>
    
    
                </div>
            </div>
        </header>
    </div>

    <div class="px-4 py-5 my-5 text-center bg-body-tertiary">
        <img class="d-block mx-auto mb-4" src="/assets/images/dinostudio.png" alt="" width="200" height="130">
        <h1 class="display-5 fw-bold text-body-emphasis">Romina's reading list (create view)</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Admin view that allows the creator (me) to add books into the database, so they can be displayed on the main page. In order to access this page you need to go through the login secuence.</p>
            
        </div>
    </div>

   

    <div class="container">
        
            <form method="POST" action="/create">
                <div class="row mb-3">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTitle" name="title">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAuthor" name="author">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="olid" class="col-sm-2 col-form-label">OLID Label</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="olid" name="olid">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Review</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" aria-label="With textarea" name="review"></textarea>
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Genere</legend>
                    <div class="col-sm-10">
                    <div class="form-check">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="novel" name="novel" value="true">
                            <label class="form-check-label" for="novel">Novel</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="shortStory" name="short_story"  value="true">
                            <label class="form-check-label" for="shortStory">Short Story</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="drama" name="drama"  value="true">
                            <label class="form-check-label" for="drama">Drama</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="suspense" name="suspense"  value="true">
                            <label class="form-check-label" for="suspense">Suspense</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="fiction" name="fiction"  value="true">
                            <label class="form-check-label" for="fiction">Fiction</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sliceOfLife" name="slice_of_life"  value="true">
                            <label class="form-check-label" for="sliceOfLife">Slice of life</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="terror" name="terror"  value="true">
                            <label class="form-check-label" for="terror">Terror</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="fantasy" name="fantasy"  value="true">
                            <label class="form-check-label" for="fantasy">Fantasy</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="romance" name="romance" value="true">
                            <label class="form-check-label" for="romance">Romance</label>
                        </div>
                    </div>
                    </div>
                </fieldset>
               
                <div class="input-group mb-3">
                
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Rating</label>
                    <select class="form-select" id="rating" name="rating" required>
                        <option selected>Choose...</option>
                        <option value="Bad">Bad</option>
                        <option value="Nothing impressive">Nothing impressive</option>
                        <option value="Good">Good</option>
                        <option value="Loved it!">Loved it!</option>
                        <option value="Favorite book">Favorite book</option>
                
                    </select>
                </div>
                <div class="container-fluid d-flex justify-content-end">
                    
                    <a href="/indexAdmin" class="btn btn-danger m-2">Cancelar</a>   
                    <button type="submit" class="btn btn-success m-2">Guardar</button>
                
                </div>
                
            </form>
            
        </div>        
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <%- include('partials/footer.ejs'); -%>